    <footer class="usa-footer usa-footer-medium" role="contentinfo">
      <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
      </div>
      <div class="usa-footer-primary-section">

		  <div class="usa-grid">
		    <div class="usa-width-full">
		      <form class="usa-search usa-search-big">
		        <div role="search">
		          <label class="usa-sr-only" for="search-field-big">Subscribe</label>
		          <input id="search-field-big" type="search" name="search">
		          <button type="submit">
		            <span class="usa-search-submit-text">Subscribe</span>
		          </button>
		        </div>
		      </form>
		    </div>
		  </div>
	  
      </div>

      <div class="usa-footer-secondary_section">
        <div class="usa-grid">
          <div class="usa-footer-logo usa-width-one-half">
            
	        <div class="usa-logo" id="logo">
	          <em class="usa-logo-text">
	            <h3 class="usa-footer-logo-heading"><a href="/" accesskey="1" title="Home" aria-label="Home">GSA Open Tech</a></h3>
	          </em>
	        </div>            
          </div>
        </div>
      </div>
    </footer>