<section class="usa-section usa-section-dark usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-half usa-media_block">
        <div class="usa-media_block-header">
          <h3>Discover</h3>
        </div>
        <div class="usa-media_block-body">
          <p>New to coding? Check out our interactive API tutorial and learn how to jump into our open-source code. <a href="#">Explore Now</a></p>
        </div>
      </div>
      <div class="usa-width-one-half usa-media_block">
        <div class="usa-media_block-header">
          <h3>Learn</h3>
        </div>
        <div class="usa-media_block-body">
          <p>Want to learn how to take our data to the next level? Learn how to create data visiualations using our API data. <a href="#">Learn Now</a></p>
        </div>
      </div>
    </div>
</section>