<section class="usa-section usa-section-dark usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-half usa-media_block">
        <div class="usa-media_block-header">
          <h3>Data</h3>
        </div>
        <div class="usa-media_block-body">
          <p>Graphic headings can be used a few different ways, depending on what your landing page is for. Highlight your values, specific program areas, or results.</p>
        </div>
      </div>
      <div class="usa-width-one-half usa-media_block">
        <div class="usa-media_block-header">
          <h3>API</h3>
        </div>
        <div class="usa-media_block-body">
          <p>Keep body text to about 30. They can be shorter, but try to be somewhat balanced across all four. It creates a clean appearance with good spacing.</p>
        </div>
      </div>
    </div>
</section>