<section class="usa-section usa-section-dark usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-half usa-media_block">
        <div class="usa-media_block-header">
          <h3>Data</h3>
        </div>
        <div class="usa-media_block-body">
          <p>GSA has categorized its public data listing to facilitate search and an improved customer experience on this site.</p>
        </div>
      </div>
      <div class="usa-width-one-half usa-media_block">
        <div class="usa-media_block-header">
          <h3>API</h3>
        </div>
        <div class="usa-media_block-body">
          <p>GSA has categorized its public data listing to facilitate search and an improved customer experience on this site.</p>
        </div>
      </div>
    </div>
</section>