
$color-1: #385062;
$color-2: #afb9c0;
$color-3: #9ba7b0;
$color-4: #385062;
$color-5: #d7dcdf;
$color-othergray: #7ca0b1;
$color-yellowicon: #f9a23a;
$color-showmore: #8796a0;
$color-lightgray: #eff1f2;
$color-gray: #666666;
$color-darkgray: #292929;
$blue: #0083be;
$orange: #fe5816;
$green: #38a242;
$grey: #818285;
