//ROTATOR
.rotator {
	&.usa-hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.usa-hero-callout.usa-width-full {
		max-width: 100%;
		background-color: rgba($color-primary, .5);
	}

	
	.usa-search.usa-search-big [type="search"], .usa-search.usa-search-big .usa-search-input {
		max-width: 100%;
		@media screen and (min-width: 481px){}
	}	
}

//NAVBAR
nav {
	.usa-nav-secondary .usa-search.is-visible {
	    display: inline-block;
	    float: none;
	    top: -5px;
	}

}

//MIXINS
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}