body, h1, h2, h3, h4, h5, h6 {
	font-family: $font-sans;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

//ROTATOR
.rotator {
	&.usa-hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.usa-hero-callout.usa-width-full {
		max-width: 100%;
		background-color: rgba($color-primary, .5);
	}

	
	.usa-search.usa-search-big [type="search"], .usa-search.usa-search-big .usa-search-input {
		max-width: 100%;
		@media screen and (min-width: 481px){}
	}	
}

//NAVBAR
nav {
	.usa-nav-secondary-links {
		@media screen and (min-width: 951px) {
			text-align: right;
		}
	}	
	.usa-nav-secondary .usa-search {
	    /*@include transition (opacity 1s ease-in 2s, opacity 2s ease-out);*/
	    opacity: 0; 
	    height: 0;
	    width: 0;
	    visibility: hidden;

	}
	.usa-nav-secondary .usa-search.is-visible {
	    display: inline-block;
	    float: none;
	    top: -5px;
	    opacity: 1;
	    height: auto;
	    width: auto;
	    visibility: visible;
	    @include transition (opacity 1s ease-in 2s, opacity 2s ease-out);
	}

}

//MIXINS
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}