
  <!doctype html>
  <html lang="en">
    <head>
      {% include _head.html %}
    </head>
    <body class="interior search">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <header class="usa-header usa-header-extended" role="banner">
      {% include _topbanner.html %}
      {% include _header_navbar.html %}
    </header>
    <div class="usa-overlay"></div>
    <main id="main-content">
    {% include _interior_rotator.html %}
      <div class="usa-grid usa-section">
      {{ content }}
      </div>
    </main>
      {% include _footer.html %}
    <script src="{{ site.baseurl }}/assets/js/application.js"></script>
    <!-- Update the link path to where your JavaScript file is located. For example: /path/to/your/assets/js/lib/uswds.min.js -->
    <!-- <script src="{{ site.baseurl }}/assets/js/vendor/uswds.min.js"></script> -->
    </body>
  </html>
